#list {
	width: 100%;
	height: 100%;
	right: 0;
	color: #5A688D;
	position: absolute;
	display: none;
	z-index: 10;
	background: url(../imgs/bg.png) no-repeat;
    background-size: cover;

}

#list-header {
	position: absolute;
	width: 95%;
	height: 50px;
	right: 0;
	top: 20px;
	z-index: 11;
}

#list-back {
	position: absolute;
	left: 10px;
	width: 50px;
	height: 50px;
	background-size: cover;
    background-position: center center;
    background-image: url(../imgs/back.png);
}

#list-back>div {
	display: none;
}

#list-title{
	position: absolute;
	left: 120px;
	top: 0;
	right: 0;
	line-height: 50px;
	font-size: 1.7em;
	color: #fff;
	letter-spacing: 5px;
	display: none;
}

#list-column {
	position: absolute;
	left: 80px;
	top: 0;
	right: 0;
	line-height: 55px;
	color: #59678D;
	display: none;
}

.list-column-e {
	display: inline-block;
	margin-left: 20px;
}

.list-column-e:hover {
	color: #fff;
}

.list-column-foucs {
	color: #fff;
}

#list-menu {
	position: absolute;
	height: 50px;
	bottom: 20px;
	left: 80px;
	right: 70px;
	line-height: 50px;
	overflow: hidden;
}

#list-menu-move {
	height: 100%;
	white-space:nowrap;
	font-size: 0;
	-webkit-text-size-adjust:none;
}

#list-menu-move >div {
	display: inline-block;
	margin-left: 20px;
	font-size: 22px;
}

#list-menu-move >div:hover {
	color: #fff;
}

#list-left{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 20px;
	left: 40px;

	background-image: url(../imgs/left.jpg);
	background-size: cover;
    background-position: center center;

    display: none;
}

#list-right{
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 20px;
	right: 0;

	background-image: url(../imgs/right.jpg);
	background-size: cover;
    background-position: center center;

    display: none;
}

#list-main {
	position: absolute;
	width: 100%;
	height: 100%;
}

.list-main-cont {
	position: absolute;
	width: 100%;
	height: 100%;
}

.list-main {
	position: absolute;
	width: 95%;
	height: 480px;
	top: 50%;
	right: 0;
	margin-top: -240px;
	overflow: hidden;
}

.list-main-move {
	position: absolute;
	height: 100%;
	white-space: nowrap;
	display: none;
}

.list-block {
	position: absolute;
	width: 730px;
	height: 480px;
	font-size: 18px;
	position: absolute;
}

.list-block-e1 {
	position: absolute;
	height: 440px;
	width: 280px;
	left: 0;
	top: 20px;
	background-size: cover;
    background-position: center center;
    /*background-image: url(../imgs/8.jpg);*/
}

.list-block-e2 {
	position: absolute;
	top: 20px;
	left: 300px;
	height: 210px;
	width: 420px;
	background-size: cover;
    background-position: center center;
    /*background-image: url(../imgs/9.jpg);*/
}

.list-block-e-text {
	position: absolute;
	width: 100%;
	bottom: 0;
	top: 0;
}

.list-block-e1-text-cont,
.list-block-e2-text-cont{
	position: absolute;
	width: 100%;
	bottom: 0;
	background: #000;
	opacity: .5;
	white-space:normal;
	font-size: 18px;
	color: #fff;
}

.list-block-e1-text-cont {
	width: 94%;
	height: 58px;
	padding: 3%;
	overflow: hidden;
}

.list-block-e2-text-cont  {
	width: 98%;
	height: 28px;
	padding: 1%;
	overflow:hidden;
}

.list-block-e1-text-cont td,
.list-block-e2-text-cont td  {
	text-align: left !important;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-all;
	overflow: hidden;	
}

.list-block-e2-text-cont td {
	text-align: center !important;
	-webkit-line-clamp: 1;	
}

.list-block-info,
.list-block-name{
	display: none;
}

.list-block-table {
	display: table-cell !important;
}

#list-more-list {
	display: none;
}